html {
    font-size: 62.5%;
}

body {
    background: url(../images/bg-desktop.svg) center center no-repeat;
    background-color: var(--bg-color);
    height: 100vh;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 40px 60px;
}

.image-container img {
    width: 100%;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 60px;
    flex: 1;
    gap: 50px;
}

.informations-container {}

.informations-container h1 {
    color: white;
    font-size: 6.5rem;
    margin: 20px 0 30px 0;
}

.informations-container p {
    font-size: 3rem;
    color: white;
    margin-bottom: 40px;
}

.informations-container a {
    font-size: 2.5rem;
    padding: 15px 80px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 3px 3px 10px black;
    transition: 0.3s ease;
}

.informations-container a:hover {
    background-color: var(--active-state-color);
    color: white;
}

.footer {
    display: flex;
    padding: 0 60px 40px;
    justify-content: flex-end;
    align-items: center;
}

.footer ul {
    display: flex;
    gap: 15px;

}

.footer ul li {
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
}

.footer ul li a i {
    color: white;
    width: 20px;
    height: 20px;
    font-size: 20px;
}

@media (max-width:768px) {
    .main-container {
        grid-template-columns: 1fr;
    }

    .main-container .informations-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 30px;
    }

    .footer {
        justify-content: center;
        margin-top: 40px;
    }
}

@media (max-width:425px) {
    .main-container .informations-container h1 {
        font-size: 4.5rem;
    }

    .main-container .informations-container p {
        font-size: 2rem;
    }
}